.banner {
    .bgbg {
        position: absolute;
        inset: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba($colorred, 0.9), rgba($colorred, 0.7));
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @keyframes indo {
        0%,
        100% {
            left: 50%;
            opacity: 0.2;
        }

        50% {
            left: 53%;
            opacity: 0.2;
        }
        // 90% {
        //     bottom: 5%;
        //     opacity: 0;
        // }
        // 100% {
        //     bottom: 5%;
        //     opacity: 0;
        // }
    }
    .indo {
        position: absolute;
        left: 50%;
        z-index: 1;
        top: 50%;
        animation: indo 9s linear infinite;
        translate: -50% -50%;
        width: 50%;
        height: auto;
        opacity: 0.2;
        @media screen and (max-width: 768px) {
            width: 110%;
            top: 36%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 42%;
        height: auto;
        z-index: 5;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 6;
            height: 10vh;
            width: 100%;
            background: linear-gradient(to top, $colorred, transparent);
            @media screen and (max-width: 768px) {
                width: 150%;
                left: -50%;
            }
        }
        @media screen and (max-width: 768px) {
            position: absolute;
            bottom: 8%;
            right: -16%;
            width: 70%;
            height: 60%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                object-fit: cover;
            }
        }
    }

    .bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: fit-content;
        // right: 0;
        height: 70%;
        z-index: 2;
        @media screen and (max-width: 768px) {
            height: 50%;
            left: -8%;
            bottom: 8%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            @media screen and (max-width: 768px) {
                object-fit: cover;
            }
        }
    }
    @keyframes MoveUpDown {
        0% {
            bottom: -15%;
            opacity: 0;
        }
        20% {
            bottom: -15%;
            opacity: 1;
        }
        50% {
            bottom: 5%;
            opacity: 1;
        }
        90% {
            bottom: 5%;
            opacity: 0;
        }
        100% {
            bottom: 5%;
            opacity: 0;
        }
    }

    @keyframes MoveUpDownMob {
        0% {
            bottom: 0%;
            opacity: 0;
        }
        20% {
            bottom: 0%;
            opacity: 1;
        }
        50% {
            bottom: 15%;
            opacity: 1;
        }
        90% {
            bottom: 15%;
            opacity: 0;
        }
        100% {
            bottom: 15%;
            opacity: 0;
        }
    }
    .pensil {
        position: absolute;
        animation: MoveUpDown 8s linear infinite;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: fit-content;
        // right: 0;
        height: 70%;
        scale: 0.7;
        @media screen and (max-width: 768px) {
            height: fit-content;
            left: -8%;
            animation: MoveUpDownMob 8s linear infinite;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .title {
        position: absolute;
        left: 50%;
        top: 20%;
        z-index: 6;
        translate: -50% -50%;
        @media screen and (max-width: 768px) {
            width: 90%;
            top: 28%;
            text-align: center;
        }
        h2 {
            font-size: 3rem;
            font-family: "Russo One";
            font-weight: 400;
            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }
    }

    svg {
        font-family: "Russo One", sans-serif;
        position: absolute;
        width: 100%;
        /* height: 100%; */
        height: auto;
        z-index: 3;
        translate: -50% -50%;
        left: 50%;
        top: 45%;
    }
    .help {
        &-first {
        }
        &-second {
            svg {
                @media screen and(max-width:768px) {
                    top: 52% !important;
                }
            }
        }
        &-zero {
            svg {
                top: 30% !important;
                @media screen and(max-width:768px) {
                    top: 38% !important;
                }
            }
        }
    }
    svg text {
        text-transform: uppercase;
        animation: stroke 5s infinite alternate;
        stroke-width: 2;
        stroke: #124646;
        font-size: 140px;
    }
    @keyframes stroke {
        0% {
            fill: rgba(72, 138, 20, 0);
            // stroke: rgba(54, 95, 160, 1);
            stroke: #124646;
            stroke-dashoffset: 25%;
            stroke-dasharray: 0 50%;
            stroke-width: 2;
        }
        70% {
            fill: rgba(72, 138, 20, 0);
            // stroke: rgba(54, 95, 160, 1);
            stroke: #124646;
        }
        80% {
            fill: rgba(72, 138, 20, 0);
            // stroke: rgba(54, 95, 160, 1);
            stroke: #124646;
            stroke-width: 3;
        }
        100% {
            // fill: rgba(72, 138, 204, 1);
            fill: #124646;
            stroke: rgba(54, 95, 160, 0);
            stroke-dashoffset: -25%;
            stroke-dasharray: 50% 0;
            stroke-width: 0;
        }
    }
}
