.lini-masa {
    background: #fbbc89;
    padding: 0;

    .semboyan {
        // background: white;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fbbc89;
        background-image: linear-gradient(rgba(#fcfcfc, 0.3) 1.5px, transparent 1.5px),
            linear-gradient(90deg, rgba(#fcfcfc, 0.3) 1.5px, transparent 1.5px),
            linear-gradient(rgba(#fafafa, 0.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(#fafafa, 0.3) 1px, transparent 1px);
        background-position:
            -1.5px -1.5px,
            -1.5px -1.5px,
            -1px -1px,
            -1px -1px;
        background-size:
            0 100px,
            0 100px,
            40px 40px,
            40px 40px;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #fbbc89, transparent, #fbbc89);
        }
    }
    .judul {
        font-size: 2.8rem;
        color: #1d1d1b;
    }
    .blocking {
        display: block;
        margin-bottom: 24px;
        .naming {
            display: inline-block;
            vertical-align: top;
            h4 {
                font-size: 2.4rem;
            }
        }
        .desc {
            display: inline-block;
            margin-left: 8px;
            width: 80%;
            vertical-align: top;
        }
    }

    .contentx {
        .guru {
            position: absolute;
            right: -16px;
            bottom: 0;
            width: 140px;
            height: auto;
            filter: drop-shadow(-2px 0px 0px #fff);
            @media screen and (max-width: 768px) {
                right: -16%;
                bottom: 0;
                width: 120px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        margin-bottom: 24px;
        position: relative;
        .titlex {
            padding: 16px;
            background: white;
            width: fit-content;
            @media screen and (max-width: 768px) {
                padding: 8px;
            }
            h4 {
                font-size: 1.5rem;
                font-family: "Source Code Pro" !important;
                @media screen and (max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }
        .desc {
            padding: 16px 120px 16px 16px;
            background: linear-gradient(to right, #eaeaea, rgba(#eaeaea, 0.5));
            @media screen and (max-width: 768px) {
                padding: 8px 65px 8px 8px;
            }
        }
    }
}

.wrapper,
.content {
    position: relative;
    width: 100%;
    z-index: 1;
}

.content {
    // overflow-x: hidden;
    .section {
        padding: 64px 0;
    }
}

.content .section {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.content .section.hero {
    background-image: url("../img/kelas.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    // background: red;
    perspective: 500px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.kuri {
    background: #d9d8d9;
    &::before {
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        z-index: 10;
        top: 0;
        translate: -50% 0%;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 24px solid #fbbc89;
        content: "";
    }
}

.btn-click {
    background: white;
    padding: 16px;
    font-weight: bold;
    font-size: 1.5rem;
}

.lanjut {
    position: absolute;
    right: 8%;
    bottom: 32px;

    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    // font-family: inherit;
    font-weight: 700;
    color: black;
    background-color: white;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}
