.lini-masa {
    background: #fbbc89;
    padding: 0;
    .judul {
        font-size: 2.8rem;
    }
    .blocking {
        display: block;
        margin-bottom: 24px;
        .naming {
            display: inline-block;
            vertical-align: top;
            h4 {
                font-size: 2.4rem;
            }
        }
        .desc {
            display: inline-block;
            margin-left: 8px;
            width: 80%;
            vertical-align: top;
        }
    }

    .contentx {
        .guru {
            position: absolute;
            right: -16px;
            bottom: 0;
            width: 140px;
            height: auto;
            filter: drop-shadow(-2px 0px 0px #000);
            @media screen and (max-width: 768px) {
                right: -16%;
                bottom: 0;
                width: 120px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        margin-bottom: 24px;
        position: relative;
        .titlex {
            padding: 16px;
            background: white;
            width: fit-content;
            @media screen and (max-width: 768px) {
                padding: 8px;
            }
            h4 {
                font-size: 1.5rem;
                font-family: "Source Code Pro" !important;
                @media screen and (max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }
        .desc {
            padding: 16px 120px 16px 16px;
            background: linear-gradient(to right, #eaeaea, rgba(#eaeaea, 0.8));
            @media screen and (max-width: 768px) {
                padding: 8px 65px 8px 8px;
            }
        }
    }
}

.wrapper,
.content {
    position: relative;
    width: 100%;
    z-index: 1;
}

.content {
    // overflow-x: hidden;
    .section {
        padding: 64px 0;
    }
}

.content .section {
    width: 100%;
    min-height: 100vh;
}

.content .section.hero {
    background-image: url("../img/kelas.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    // background: red;
    perspective: 500px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
