:root {
    --text-color: #ffffff;
    --accent-color: #ff4081;
    --modal-background: rgba(0, 0, 0, 0.8);
    --transition-speed: 0.3s;
    --border-radius: 12px;
    --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.lini-masa {
    background: #fbbc89;
    padding: 0;

    .semboyan {
        // background: white;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: #fbbc89;
        background-image: linear-gradient(rgba(#fcfcfc, 0.3) 1.5px, transparent 1.5px),
            linear-gradient(90deg, rgba(#fcfcfc, 0.3) 1.5px, transparent 1.5px),
            linear-gradient(rgba(#fafafa, 0.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(#fafafa, 0.3) 1px, transparent 1px);
        background-position:
            -1.5px -1.5px,
            -1.5px -1.5px,
            -1px -1px,
            -1px -1px;
        background-size:
            0 100px,
            0 100px,
            40px 40px,
            40px 40px;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #fbbc89, transparent, #fbbc89);
        }
    }
    .judul {
        font-size: 2.8rem;
        color: #1d1d1b;
        @media screen and (max-width: 768px) {
            font-size: 2.2rem;
        }
    }
    .blocking {
        display: block;
        margin-bottom: 24px;
        .naming {
            display: inline-block;
            vertical-align: top;
            h4 {
                font-size: 2.4rem;
            }
        }
        .desc {
            display: inline-block;
            margin-left: 8px;
            width: 80%;
            vertical-align: top;
        }
    }

    .contentx {
        .guru {
            position: absolute;
            right: -16px;
            bottom: 0;
            width: 140px;
            height: auto;
            filter: drop-shadow(-2px 0px 0px #fff);
            @media screen and (max-width: 768px) {
                right: -16%;
                bottom: 0;
                width: 120px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        margin-bottom: 24px;
        position: relative;
        .titlex {
            padding: 16px;
            background: white;
            width: fit-content;
            @media screen and (max-width: 768px) {
                padding: 8px;
            }
            h4 {
                font-size: 1.5rem;
                font-family: "Source Code Pro" !important;
                @media screen and (max-width: 768px) {
                    font-size: 1.3rem;
                }
            }
        }
        .desc {
            padding: 16px 120px 16px 16px;
            background: linear-gradient(to right, #eaeaea, rgba(#eaeaea, 0.5));
            @media screen and (max-width: 768px) {
                padding: 8px 65px 8px 8px;
            }
        }
    }
}

.wrapper,
.content {
    position: relative;
    width: 100%;
    z-index: 1;
}

.content {
    // overflow-x: hidden;
    .section {
        padding: 64px 0;
    }
}

.content .section {
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.content .section.hero {
    background-image: url("../img/kelas.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    // background: red;
    perspective: 500px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.kuri {
    background: #ddd;
    &::before {
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        z-index: 10;
        top: 0;
        translate: -50% 0%;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 24px solid #fbbc89;
        content: "";
    }
}

.kertas {
    // background: white;
    padding: 16px 16px 16px 32px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--bg-color);
    background-image:
        linear-gradient(rgba(#d9eaea, 1) 2.5px, transparent 1.5px),
        // linear-gradient(90deg, red 1.5px, transparent 1.5px),
        linear-gradient(rgba(#d9eaea, 1) 2px, transparent 2px),
        // linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px)
;
    background-position:
        -2.5px -2.5px,
        // -1.5px -1.5px,
        -1px -1px,
        //-1px -1px
;
    background-size:
        0 9px,
        // 40px 40px,
        24px 38px;
    @media screen and (max-width: 768px) {
        background-size:
            0 9px,
            24px 24px;
    }
    &::before {
        content: "";
        position: absolute;
        left: 32px;
        top: 0;
        bottom: 0;
        width: 2px;
        height: 100%;
        background: #efbabe;
    }
    p {
        margin-bottom: 1.2rem;
        @media screen and (max-width: 768px) {
            margin-bottom: 1.3rem;
        }
    }
}
.hello {
    // background: ;

    li {
        scroll-snap-align: center;
        padding-left: 0.2em;
    }
    li {
        /* IMPORTANT FOR THE SNAPPING */
        scroll-snap-align: center;
        padding-left: 0.2em;
    }

    li > span {
        display: inline-block;
    }

    .cols2 {
        padding-left: 20px;
        display: flex;
        /* outline:1px solid green; */
    }

    h1,
    ul,
    li {
        font-weight: 800;
        // text-transform: uppercase;
        // letter-spacing: 0.06em;
        // line-height: 1;
        color: #1d1d1b;
        line-height: 2.2rem;
        font-family: "guru";
        font-size: 2rem;
        margin: 8px 0;
        @media screen and (max-width: 768px) {
            margin: 2px 0;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    h1 {
        /* background:#c6e6ff; */
        flex-grow: 0;
        align-self: flex-start;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        /* outline: 1px solid blue; */
    }

    ul,
    h1,
    li {
        // margin: 0;
        // line-height: 1;
    }
}

.btn-click {
    background: white;
    padding: 16px;
    font-weight: bold;
    font-size: 1.5rem;
}

.lanjut {
    position: absolute;
    right: 8%;
    bottom: 32px;

    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: none;
    // font-family: inherit;
    font-weight: 700;
    color: black;
    background-color: white;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}

.containerx {
    width: 2400%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    .rutex {
        display: block;
        margin-bottom: 8px;
        @media screen and (max-width: 768px) {
            margin-bottom: 4px;
        }
    }
    .bullet {
        width: 35px;
        height: 35px;
        background: #49efc3;
        border-radius: 50%;
        text-align: center;
        padding: 3px;
        font-weight: 600;
        vertical-align: middle;
        color: #0a4e3c;
        font-size: 1.2rem;
        display: inline-block;
        &.or {
            background: #f7bd42;
        }
    }
    .namex {
        font-family: "jost";
        font-size: 1.2rem;
        vertical-align: middle;
        display: inline-block;
        width: 80%;
        // font-weight: bold;
        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
    }

    .road {
        width: 100%;
        height: 20vh;
        background: #555;
        position: absolute;
        z-index: 3;
        // overflow: hidden;
        bottom: 0;
    }
    .lane {
        width: 100%;
        height: 6px;
        background: repeating-linear-gradient(80deg, #fff 10%, #fff 50%, transparent 75%, transparent 100%);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-size: 40px 100%;
    }
    .sidewalk {
        width: 100%;
        height: 10px;
        background: #777;
        position: absolute;
    }
    .sidewalk.top {
        top: 0;
    }
    .sidewalk.bottom {
        bottom: 0;
    }
    .panelx {
        width: 100%;
        height: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        font-size: 1.5em;
        // text-align: center;
        position: relative;
        box-sizing: border-box;
        padding: 0px;
        .fas {
            position: absolute;
            right: 0;
            bottom: -16px;
            z-index: 8;
            font-size: 2.5rem;
            rotate: -32deg;
            color: white;
        }
        &.subuh {
            // background: #ffd186;
            background: #a2dbcd;
        }
        &.siang {
            background: linear-gradient(to left, #a2dbcd, #ffd186);
        }
        &.siang-full {
            background: #ffd186;
        }
        &.sore {
            background: linear-gradient(to right, #a2dbcd, #ffd186);
        }
        &.hujan {
            background: linear-gradient(to right, #ffd186, #723a0d);
        }
        &.hujan-cerah {
            background: linear-gradient(to left, #ffd186, #723a0d);
        }
        &.hujan-full {
            background: #723a0d;
        }
        .title {
            position: absolute;
            top: 2%;
            left: 8%;
        }
        h3 {
            color: $colorred;
        }

        .button-info {
            position: absolute;
            z-index: 7;
            top: 24%;
        }
        .tahun-besar {
            position: absolute;
            top: 78px;
            left: 5%;
            &.cbsa {
                width: 50%;
                @media screen and (max-width: 768px) {
                    width: 100%;
                }
                h4 {
                    color: #eaeaea;
                }
            }
            &.kbk {
                width: 50%;
                top: 60px;
                @media screen and (max-width: 768px) {
                    top: 50px;
                    width: 100%;
                }
                h4 {
                    @media screen and (max-width: 768px) {
                        font-size: 2.2rem;
                        line-height: 2.2rem;
                    }
                }
            }
            &.baris {
                width: 90%;
                left: 5%;
                z-index: 6;
                top: 76px;
            }
            // rotate: -2deg;
            @media screen and (max-width: 768px) {
                top: 90px;
                left: -4%;
            }
            h4 {
                font-size: 3.3rem;
                color: #2e7d32;
                @media screen and (max-width: 768px) {
                    font-size: 2.7rem;
                    line-height: 2.7rem;
                }
            }
        }

        .kuningx {
            background: rgb(255 252 171 / 80%) !important;
        }

        .box {
            padding: 16px;
            z-index: 5;
            background: rgba($color: white, $alpha: 0.5);
            position: absolute;
            border-top: 4px solid #777;
            border-radius: 4px;
            top: 100px;
            text-align: left;
            width: 40%;
            left: 65px;
            &.ki {
                top: 45px;
            }
            .foto-mentri {
                position: relative;
                float: left;
                margin: 0 16px 16px 0;
                width: 215px;
                height: 250px;
                @media screen and (max-width: 768px) {
                    // position: relative;
                    float: left;
                    /* margin: 0 16px 16px 0; */
                    width: 100%;
                    height: 200px;
                }
                .credits {
                    bottom: 0;
                    padding: 0px 16px;
                    position: absolute;
                    background: linear-gradient(to right, white, rgba(255, 255, 255, 0.8));
                    p {
                        font-size: 0.9rem;
                        &.bold {
                            font-weight: bold;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            p,
            li {
                @media screen and (max-width: 768px) {
                    font-size: 1.1rem;
                }
            }
            &-foto {
                width: 100px;
                height: 100px;
                float: left;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-tops {
                top: 125px;
                &.agak {
                    top: 72px;
                }
                &.baris {
                    @media screen and (max-width: 768px) {
                        top: 165px;
                    }
                }
                &.kbkx {
                    top: 170px;
                    @media screen and (max-width: 768px) {
                        top: 115px;
                    }
                }
                &.cbsa {
                    top: 190px;
                    @media screen and (max-width: 768px) {
                        top: 214px;
                    }
                }
            }
            &-mintops {
                top: -8px;
            }
            @media screen and (max-width: 768px) {
                width: 85%;
                left: 8px;
            }
            p {
                margin-bottom: 0;
            }
        }

        .sudirman {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(0%, -50%);
            width: auto;
            height: 80%;
            z-index: 3;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .kota {
            position: absolute;
            bottom: 20vh;
            width: 100%;
            height: 80%;
            z-index: 1;
            @media screen and (max-width: 768px) {
                position: absolute;
                // bottom: 100px;
                width: 150%;
                height: fit-content;
                z-index: 3;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .btn {
        padding: 15px 30px;
        border: none;
        cursor: pointer;
        color: var(--text-color);
        font-size: 2.5rem;
        border-radius: var(--border-radius);
        transition:
            transform var(--transition-speed),
            box-shadow var(--transition-speed);
        //background var(--transition-speed);
        position: relative;
        overflow: hidden;
        font-weight: bold;
        // text-transform: uppercase;
        letter-spacing: 1px;
        @media screen and (max-width: 768px) {
            font-size: 2rem;
            padding: 8px 16px;
        }
    }
}

.btn-3d {
    background: #4caf50;
    box-shadow: 0 10px #2e7d32;
    transition:
        transform var(--transition-speed),
        box-shadow var(--transition-speed);
    &:hover,
    &:focus {
        box-shadow: rgb(29, 97, 34) 0px 4.67574px 0px 0px;
        transform: translateY(5.32426px);
    }
}

.btn-block {
}

.card {
    padding: 0;
    &-header {
        padding: 0;
    }
    &-body {
        padding: 0.75rem 1.25rem;
        p {
            font-family: "Source Code Pro";
            font-size: 1.1rem !important;
            @media screen and (max-width: 768px) {
                font-size: 0.9rem !important;
            }
        }
    }
    button {
        font-size: 1.2rem;
        @media screen and (max-width: 768px) {
            font-size: 0.9rem;
        }
        outline: 0;
        border: none;
        font-family: "Source Code Pro";
        background: #e2e2e2;
        padding: 8px 16px;
        font-weight: 600;
        &.collapsed {
            &::after {
                content: "\f107";
            }
        }
        &::after {
            content: "\f106";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            float: right;
        }
    }
}

.contain {
    object-fit: contain !important;
}

.kiki {
    @media screen and (max-width: 768px) {
        height: 135px !important;
    }
}

.standing {
    rotate: -24deg;
    transition: 0.3s;
}
