:root {
    --bg-color: #f4f4f4;
    --line-color-1: #366;
    --line-color-2: #a9a9a9;
}

.tujuan {
    padding: 0;
    h3 {
    }
    .white-animate {
        width: 220px;
        height: 220px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        padding: 16px;
        background: white;
        @media screen and (max-width: 768px) {
            width: 110px;
            height: 110px;
        }
        video {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    //#efbabe garis lurus vertikal
    .kertas {
        // background: white;
        padding: 16px 16px 16px 62px;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: var(--bg-color);
        background-image:
            linear-gradient(rgba(#d9eaea, 1) 2.5px, transparent 1.5px),
            // linear-gradient(90deg, red 1.5px, transparent 1.5px),
            linear-gradient(rgba(#d9eaea, 1) 2px, transparent 2px),
            // linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px)
;
        background-position:
            -2.5px -2.5px,
            // -1.5px -1.5px,
            -1px -1px,
            //-1px -1px
;
        background-size:
            0 9px,
            // 40px 40px,
            24px 38px;
        @media screen and (max-width: 768px) {
            background-size:
                0 9px,
                24px 24px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 32px;
            top: 0;
            bottom: 0;
            width: 2px;
            height: 100%;
            background: #efbabe;
        }
        p {
            margin-bottom: 1.2rem;
            @media screen and (max-width: 768px) {
                margin-bottom: 1.3rem;
            }
        }
    }
}

.judul-h3 {
    display: inline-block;
    margin-left: 8px;
    width: 50%;
    vertical-align: middle;
    h3 {
        font-size: 2.3rem;
        color: white;
        @media screen and (max-width: 768px) {
            font-size: 1.7rem;
        }
    }
}

.menteri {
    background-image: linear-gradient(rgba(#fcfcfc, 0.3) 1.5px, transparent 1.5px),
        linear-gradient(90deg, rgba(#fcfcfc, 0.3) 1.5px, transparent 1.5px),
        linear-gradient(rgba(#fafafa, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(#fafafa, 0.3) 1px, transparent 1px);
    background-position:
        -1.5px -1.5px,
        -1.5px -1.5px,
        -1px -1px,
        -1px -1px;
    background-size:
        0 100px,
        0 100px,
        40px 40px,
        40px 40px;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, $colorred, rgba($colorred, 0.6), $colorred);
    }
    .image {
        width: 100%;
        height: fit-content;
        margin: 24px 0;
        border: 8px solid white;
        border-radius: 24px;
        img {
            width: 100%;
            border-radius: 16px;
            height: 100%;
            object-fit: contain;
        }
    }
}

.gsap-horizon {
    padding: 0;
    // background: #c8e5f7;
    background: linear-gradient(to right, #84a6c8, #84a6c8);

    .sepeda {
        width: 20vw;
        height: auto;
        position: absolute;
        left: 10%;
        bottom: 24px;
        z-index: 12;
        @media screen and (max-width: 768px) {
            width: 200px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
