.tujuan {
    .white-animate {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        padding: 16px;
        background: white;
        video {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}
